@import 'variables'
@import 'mixins'

main
    .container:nth-child(1)
        width: 90%
        margin: 0 auto
        .hero
            margin: 4rem 0
            .writables
                margin-right: 1rem
                a
                    color: $primary-orange
                    text-decoration: underline
            .committee-illustration
                height: 455px
